.widget{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20%;
    top: 20%;
    background-color: white;
    z-index: 1;
}
.widget[data-top="true"]{
    z-index: 9;
}
.widget[data-open="false"]{
    opacity: 0;
    z-index: -1;
}
.widget[data-max="true"]{
    width: 100%;
    height: calc(100% - 2.5rem);
    top: 0;
    left: 0;
}

.widget_top_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}
.widget_icon{
    width: 2rem;
    height: 2rem;
}
.widget_icon .icon{
    width: 2rem;
    height: 2rem;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
}
.widget_oper_bar{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.win_ctl{
    width: 2.5rem;
}