li{
    list-style: none;
}
.draw{
    width: 1000px;
    height: 500px;
    top: 60px;
    left: 150px;

    background-color: white;
    
    /* justify-content: space-between; */

    overflow: hidden;
}

.draw_bottom{
    flex: 1 1 auto;
    overflow: hidden;
}

.draw_select_bar{
    width: 100%;
    height: 1.5rem;
}
.draw_select_bar ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.draw_funcs_bar{
    width: 100%;
    height: 7rem;
    background-color: rgb(245, 246, 247);
    border-top: 1px solid rgb(218, 219, 220);
    border-bottom: 1px solid rgb(218, 219, 220);
}
.draw_funcs{
    width: 1000px;
    height: 100%;
    background-color: rgb(245, 246, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.func{
    border: 1px solid rgb(227, 228, 229);
}

.draw_funcs_bar .draw_brush{
    position: relative;
    width: 3rem;
    height: 100%;
    border: 1px solid black;
}

.draw_funcs_bar .draw_tool{
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.draw_tool ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.draw_tool .tool{
    flex-basis: 30%;
    margin: 1px;
    border: 1px solid transparent;
}

.draw_select{
    width: 5rem;
    height: 100%;
}
.draw_select span{
    font-size: 12px;
}
.draw_select li{
    font-size: 14px;
    display: block;
    border: 1px solid transparent;
}


.draw_box{
    position: relative;
    height: calc(100% - 160px);
    background-color: rgb(211,221,235);
    overflow: scroll;
    padding: 5px;
}
.draw_board{
    background-color: white;
    cursor: crosshair;
    opacity: 0;
    box-shadow: 10px 10px 10px rgb(171,184,202);
}
.draw_board[data-space="true"]{
    cursor: grabbing;
}
.tmp_canvas{
    position: absolute;
    left: .3125rem;
    top: .3125rem;
    background-color: white;
    cursor: crosshair;
    box-shadow: 10px 10px 10px rgb(171,184,202);
}

.draw_bottom_bar{
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}
.draw_bottom_bar div{
    flex-basis: 24%;
    font-size: 12px;
}

.canvas_extend_bottom{
    width: 1rem;
    height: 1rem;
    cursor: s-resize;
    position: absolute;
}
.canvas_extend_bottom::after{
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    width: 2px;
    height: 2px;
    background-color: white;
    border: 1px solid black;
}
.canvas_extend_right{
    width: 1rem;
    height: 1em;
    cursor: e-resize;
    position: absolute;
}
.canvas_extend_right::after{
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    width: 2px;
    height: 2px;
    background-color: white;
    border: 1px solid black;
}
.canvas_extend{
    width: 1rem;
    height: 1rem;
    cursor: se-resize;
    position: absolute;
}
.canvas_extend::after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border: 1px solid black;
}
.draw_board_extend_sample{
    position: absolute;
    border: 1px dotted black;
    top: 0;
    margin-top: 5px;
    z-index: 9;
}




