.calculator{
    width: 20.5rem;
    height: 31.6rem;
    min-width: 20.5rem;
    min-height: 31.5rem;

    top: 10%;
    left: 30%;

    background-color: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgb(34, 34, 34);
}
/* .calculator[data-top="true"]{
    z-index: 9;
}
.calculator[data-hide="true"]{
    opacity: 0;
    z-index: -1;
}
.calculator[data-max="true"]{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    top: 0;
    left: 0;
} */


.calculator_top_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}
.calculator_top_bar ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.calculator_top_bar ul li{
    list-style: none;
    display: block;
    width: 2.5rem;
}

.percent_box{
    flex: 1 1 auto;
}
/*12 18 6 64*/
.calculator_status_bar{
    width: 100%;
    height: 8%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} .calculator_status_bar_left{
    display: flex;
    flex-direction: row;
}

.calculator_display_bar{
    width: 100%;
    height: 22%;
    padding-right: 10px;
}
.calc_formula{
    width: 100%;
    height: 25%;
    text-align: right;
    font-size: 8px;
    color: grey;
    overflow: hidden;
}
.calc_result{
    width: 100%;
    height: 75%;
    text-align: right;
    font-size: 48px;
    overflow: hidden;
}

button:focus{
    border: none;
    outline: none;
}
.calculator_memory_control_bar{
    width: 100%;
    max-width: 25rem;
    height: 6%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.calculator_memory_control_bar .key{
    width: 16%;
    height: 95%;
    background-color: transparent;
    border: none;
}


.calculator_keyboard{
    position: relative;
    width: 100%;
    height: 64%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.calculator_keyboard .key{
    flex: 1;
    flex-basis: 21%;
    height: 16%;
    margin: 1px;
    border: none;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
}
.calculator_keyboard .nine{
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bolder;
}
.key:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}
.calculator_keyboard .equal{
    background-color: rgba(0, 153, 204, 0.4)
}
.calculator_keyboard .equal:hover{
    background-color: rgba(0, 102, 255, 0.4);
}

.calculator_history{
    border: 1px solid transparent;
    line-height: 32px;
}
.calculator_func_box{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 1rem;
    bottom: .125rem;
    transition: all 0.3s;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
}
.calculator_func_box[data-hide="true"]{
    height: 50%;
    opacity: 0;
    z-index: -1;
}
.func_list{
    overflow: scroll;
    flex: 8.5;
}
.func_item{
    width: 100%;
    height: 3.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: .5rem;
}
.func_item > div{
    text-align: right;
}
.history_formula{
    font-size: .75rem;
}
.history_result{
    font-size: 1rem;
    font-weight: bolder;
}
.func_item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.func_list:hover::-webkit-scrollbar{
    width: 2px;
}
.func_list::-webkit-scrollbar{
    width: 2px;
}
.func_list::-webkit-scrollbar-track {
    background: transparent;
}
.func_list::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
}
.func_bottom_bar{
    flex: 1.5;
}
.func_bottom_bar > .del_key{
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    float: right;
}
.memory_item > div{
    font-size: 1.5rem;
    font-weight: bolder;
}
.memory_item > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.memory_item .memory_box_M{
    width: 2rem;
    height: 1.75rem;
    visibility: hidden;
    font-size: .75rem;
    border: 1px solid rgb(219, 219, 219);
}
.memory_item:hover .memory_box_M{
    visibility: unset;
}
.memory_item .memory_box_M:hover{
    color: white;
    border: 1px solid rgb(0, 116, 142);
    background-color: rgb(0, 153, 188);
}

.del_key[data-show="false"]{
    display: none;
}


