:root{
    --task_height: 2.5rem;
}

.task_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    /* background-color: rgba(17, 17, 17, 0.85); */
    color: white;

    width: 100%;
    height: var(--task_height);

    /* backdrop-filter: blur(10px); */

    bottom: 0;

    z-index: 10;
}


.task{
    transition: all 0.1s;
}
.task[data-focus="true"]{
    background-color: rgba(255, 255, 255, 0.1);
}
.left_task .task_bar_left_task_content{
    width: 100%;
    height: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.fix_tasks{
    width: 100%;
    height: 100%;
}
.start_tasks_btn{
    display: flex;
    flex-direction: row;

    width: 6rem;
    height: 100%;
}
.start_btn{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_btn svg{
    display: block;
    z-index: -1;
}
.start_btn svg[data-hover="true"]{
    display: none;
}

.tasks_btn{
    width: 3rem;
}

.tasks_left{
    display: flex;
    flex-direction: row;
}
.apps > ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.apps > li{
    list-style: none;
    height: 100%;
}
.apps > li[data-min="true"]{
    background-color: rgba(255,255,255,0.5);
}



.funcs{
    height: 100%;
}
.funcs > ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.funcs > ul > li{
    min-width: 1.5rem;
    height: 100%;
    /* padding-left: .2rem;
    padding-right: .2rem; */
}

.task_icon{
    width: 3.125rem;
    height: 2.5rem;
}
.task_icon .icon{
    width: 100%;
    height: 100%;
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
}


.icon_continer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.show_invisible{
    font-size: 1.5rem;
    line-height: var(--task_height);
}


.volume_icon .icon{
    width: 100%;
    height: 100%;
    background-image: url(../../img/icons8-voice-48.png);
    transform: translate(3rem,0);
    filter: drop-shadow(-3rem 0 white);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}
.keyboard{
    font-size: 0.8rem;
    line-height: var(--task_height);
}



